section#book
  - var tags = ["All", "Programming", "Design", "Engineering", "Architecture"];
  - var languages = ["Node.js", "Python", "CSS"];
  - var books = ["Mean Machine", "Learn Python the Hard Way"];

  ul.cats-filter#books-filter
    each tag in tags
      if tags[tag.indexOf('All')] === tag
        li
          a.transition.current&attributes({ href: '', 'data-filter': '*' })= tag
      else
        li
          a.transition&attributes({ href: '', 'data-filter': '.' + tag.toLowerCase() })= tag

  .extra-text Books I've read and recommend
  ul#book-list
    li&attributes({ class: tags[1].toLowerCase() })
      a(href="#", rel="book").folio
        img(src="book/mean-machine.png" alt="#{books[0]} Book")
        h2.title !{books[0]}
        span.categorie !{languages[0]} / !{tags[1]}

    li&attributes({ class: tags[1].toLowerCase() })
      a(href="#", rel="book").folio
        img(src="book/expressjs-middleware.png" alt="#{books[1]} Book")
        h2.title !{books[1]}
        span.categorie !{languages[1]} / !{tags[1]}