- var firstName = self.params.firstName.toLowerCase()

section#contact
  #map
  .contact-info
    h3.main-heading
      span Contact Info
    ul
      li #{self.params.city}
        br
        br
      li Email: #{self.author.personal.Email}
      li Phone: #{self.author.personal.Phone}
      li Website: #{self.author.personal.Website}
    h3.main-heading
    ul(style={'margin-bottom': '30px'})
      li Key fingerprint:
      br
      li.snippet
        strong#copy-key #{self.params.keyFingerprint}
        button(data-clipboard-demo data-clipboard-target="#copy-key")
          img.clippy(width="13" src="static/images/clippy.svg" alt="Copy to clipboard")
    a.button.transition(
      title="#{self.params.firstName} PGP Public Key"
      href="/#{firstName}-pubkey.asc"
      download="#{firstName}-pubkey") Download PGP Key

  .contact-form
    h3.main-heading
      span Let's keep in touch
    #contact-status
    form#contactform(method="POST" action="")
      p
        input(type="hidden" name="_subject" value="Hey #{self.params.firstName}!")
        input(type="text" name="_gotcha" style="display:none")
      p
        label(for="name") Your Name*
        input#name.input(type="text" name="name" minlength="2" required)
      p
        label(for="email") Your Email*
        input#email.input(type="email" name="email" required)
      p
        label(for="message") Your Message*
        textarea#message.textarea(name="message" cols="88" rows="6" required)
      p
        label(for="remember")
          input#remember(type="checkbox")
          | Remember me for 30 days?
          i
      input.button.transition(type="submit" name="submit" value="Send your message")
