section#portfolio

  - var tags = ["All", "Webdesign", "Photoghraphy", "Illustration", "Print", "Animation", "Terminal", "Opensource"];

  ul.cats-filter#portfolio-filter
    each tag in tags
      if tags[tag.indexOf('All')] === tag
        li
          a.transition.current&attributes({ href: '', 'data-filter': '*' })= tag
      else
        li
          a.transition&attributes({ href: '', 'data-filter': '.' + tag.toLowerCase() })= tag

  .extra-text Some of the projects I'm proud of
  ul#portfolio-list
    li.print&attributes({ class: tags[1].toLowerCase() })
      a(href="portfolio/6.jpg", rel="portfolio").folio
        img(src="portfolio/6-thumb.jpg" alt="")
        h2.title Akinjide www
        span.categorie !{tags[1]}

    li.animation&attributes({ class: tags[1].toLowerCase() })
      a(href="portfolio/2.png", rel="portfolio").folio
        img(src="portfolio/2-thumb.png" alt="")
        h2.title Medlenna
        span.categorie !{tags[1]} / !{tags[4]}

    li.terminal&attributes({ class: tags[7].toLowerCase() })
      a(href="portfolio/3.jpg", rel="portfolio").folio
        img(src="portfolio/3-thumb.jpg" alt="")
        h2.title Aboki
        span.categorie !{tags[6]} / !{tags[7]}

    li.Webdesign&attributes({ class: tags[7].toLowerCase() })
      a(href="portfolio/4.jpg", rel="portfolio").folio
        img(src="portfolio/4-thumb.jpg" alt="")
        h2.title Ufus
        span.categorie !{tags[1]} / !{tags[7]}
