section#portfolio

  - var classes = []

  ul.cats-filter#portfolio-filter
    each tag in self.portfolios.tags
      if self.portfolios.tags[tag.indexOf('All')] === tag
        li
          a.transition.current&attributes({ href: '', 'data-filter': '*' })= tag
      else
        li
          a.transition&attributes({ href: '', 'data-filter': '.' + tag.toLowerCase() })= tag

  .extra-text Some of the projects I'm proud of
  ul#portfolio-list
    each portfolio in self.portfolios.works
      each tag, index in portfolio.tags
        - classes[index] = self.portfolios.tags[tag].toLowerCase()

      li(class=classes)
        a(href="static/portfolio/#{portfolio.image_src}" target="_blank" rel="portfolio").folio
          img(src="static/portfolio/#{portfolio.thumb_src}" alt="")
          h2.title !{portfolio.name}
          span.categorie !{classes.join(',').split(',').join(' / ')}
