#profile
  .about
    .photo-inner
      ul
        li: img(src="static/images/avatar.png" alt="photo" height="186" width="153")
    h1 #{self.author.name}
    h3 #{self.author.title}
    p #{self.author.subtitle}

  ul.personal-info
    each value, key in self.author.personal
      li
        if 'Email' === key
          label= key
          span.word-wrap
            a(href="mailto:#{value}") #{value}
        else if 'Website' === key
          label= key
          span.word-wrap
            a(href="https://#{value}") #{value}
        else
          label= key
          span #{value}
