section#resume
  .timeline-section

    h3.main-heading Employment
    ul.timeline

      each job in self.resume.employment
        li
          .timelineUnit
            h4 #{job['role']}
              span.timelineDate= job['timeline']
            h5 #{job['company']}
            p !{job['description']}

      div.clear

    h3.main-heading Education
    ul.timeline

      each education in self.resume.education
        li
          .timelineUnit
            h4 #{education['where']}
              span.timelineDate= education['timeline']
            h5 #{education['level']}
            p #{education['description']}

      div.clear

    h3.main-heading Portfolio
    ul.timeline

      each portfolio in self.resume.portfolios
        li
          .timelineUnit
            h4 #{portfolio['title']}
              span.timelineDate= portfolio['timeline']
            h5 #{portfolio['language']}
            p !{portfolio['description']}

      div.clear

    h3.main-heading Community Contributions / Support
    ul.timeline

      each community_contrib in self.resume.communityContrib
        li
          .timelineUnit
            h4 #{community_contrib['role']}
              span.timelineDate= community_contrib['timeline']
            h5 #{community_contrib['group']}
            p !{community_contrib['description']}

      div.clear

  div.skills-section

    h3.main-heading Programming Skills

    ul.skills
      each point, skill in self.resume.skills.programming
        li
          h4= skill
          .rating&attributes({ 'data-rat': point })

    h3.main-heading Design Skills

    ul.skills
      each point, skill in self.resume.skills.design
        li
          h4= skill
          .rating&attributes({ 'data-rat': point })

    h3.main-heading Other Skills

    ul.skills
      each point, skill in self.resume.skills.more
        li
          h4= skill
          .rating&attributes({ 'data-rat': point })

    //- XP
    h3.main-heading XP
      span.tooltip
        span.tooltip_content
          span
            strong Current XP:
            |  21000
            br
            strong Target XP:
            |  27000 before JUL 1
            br
            br
            strong How I calculate my XP Points.
            br
            | 1 dot equals 3000XP, everyday I try new stuffs,
            | 1XP is rewarded when successfully learned.
    ul.skills
      each skill in [7, 0, 0, 0, 0, 0]
        li
          .rating&attributes({ 'data-rat': skill })
  div.clear

  a#downloadPDF.button.transition(
    title="#{self.params.firstName} Resume"
    href="#{self.params.resumeURL}"
    download="#{self.params.firstName.toLowerCase()}-resume") Download resume as PDF format
